# Основные зависимости
numpy>=1.20.0
openai>=1.0.0
pydub>=0.25.1

# Для обработки аудио
scipy>=1.8.0
sounddevice>=0.4.6

# Для распознавания речи
torch
openai-whisper>=20231117

# Для пользовательского интерфейса
# tkinter обычно уже установлен с Python

# Дополнительные утилиты
python-dotenv>=1.0.0